body{
    background-color: rgb(253, 253, 245);
}
hr{

    border: 1px solid black;
}


.text{
    color: black;

}



.join-area{
    width: 100%;
    padding: 50px;
    padding-top: 100px;
    background-color: rgb(190, 216, 216);
    justify-content: center;
    align-items: center;
}
.img-width{
    width: 100%;
}